/* MODAL */
.login__modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 0 0.75rem;
  display: none;
  opacity: 0;
  visibility: hidden;
}
body.modal__open .login__modal {
  display: initial;
  opacity: 1;
  visibility: visible;
}
.modal__container {
  background-color: #ACACAC;
  width: 100%;
  max-width: 685px;
  margin: 15vh auto 0;
  position: relative;
  border-radius: 0.5rem;
}
.modal__image {
  margin: 0.5rem auto 0;
  width: 60px;
  height: 60px;
  background: url(../images/github.svg) center/cover no-repeat;
}
.modal__container .icon-close {
  position: absolute;
  right: 5px;
  top: 10px;
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 0.5rem;
}
.modal__container .icon-close:hover {
  background: rgba(80, 129, 251, 0.16);
}
.modal__content {
  padding: 0.75rem;
  font-family: 'Inter', sans-serif;
}
.modal__title {
  text-align: center;
  font-weight: bold;
}
.modal__description {
  margin: 1rem 0 1.5rem;
  text-align: center;
}
.modal__input {
  padding: 0.75rem;
  width: 80%;
  max-width: 500px;
  border-radius: 0.5rem;
  font-size: 1.10rem;
  display: block;
  margin: 0 auto;
}
.modal__button {
  background-color: #1C1C1C;
  color: #FEFEFE;
  display: block;
  margin: 1.5rem auto 0.5rem;
  padding: 1rem;
  width: 40%;
  font-weight: bold;
  cursor: pointer;
  border-radius: 0.5rem;
  font-size: 1.15rem;
}
.modal__button:hover {
  background-color: #0C0C0C;
}
/* EDITOR DE CÓDIGO */
.code__editor {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
.editor__container {
  border-width: 2rem;
  border-style: solid;
  border-radius: 0.5rem;
  background-color: #000;
  overflow-y: auto;
  height: 65vh;
  max-height: 494px;
}
.editor__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.editor__export {
  display: flex;
  gap: 1.5rem;
  padding: 0 0.85rem;
  align-items: center;
}
.export__extensions {
  background-color: var(--color-background);
  color: #FEFEFE;
  padding: 0.25rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.8rem;
}
.export__extensions:focus-visible {
  outline: none;
}
.export__extension {
  background-color: var(--color-background);
}
.export__button {
  padding: 0.25rem 0.5rem;
  border-radius: 0.5rem;
  background-color: var(--color-background);
  color: #FEFEFE;
  font-size: 0.8rem;
  font-family: 'Inter', sans-serif;
  cursor: pointer;
}
.export__button:hover, .export__extensions:hover {
  background-color: rgba(5, 29, 59, 0.88);
}
.export__button:disabled {
  background-color: #777777;
  opacity: 0.5;
  pointer-events: none;
}
.button__highlight, .button__highlight--remove {
  width: 100%;
  text-align: center;
  font: var(--font-body);
  margin-top: 2rem;
  padding: 0.9rem 0;
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--color-white);
}
.button__highlight {
  background-color: rgba(80, 129, 251, 0.08);
}
.button__highlight::after {
  content: "Visualizar com o highlight";
}
.button__highlight:hover, .button__highlight--remove:hover {
  background: rgba(80, 129, 251, 0.16);
}
.button__highlight:active {
  background-color:  rgba(80, 129, 251, 0.16);
  padding: 0.7rem;
  border: 0.2rem solid rgba(80, 129, 251, 0.24);
}
.button__highlight:focus {
  background: rgba(80, 129, 251, 0.24);
}
.button__highlight--remove {
  background-color: rgba(80, 129, 251, 0.24);
}
.button__highlight--remove:after {
  content: "Remover o highlight";
}
.button__highlight--remove:active {
  background-color:  rgba(80, 129, 251, 0.16);
  padding: 0.7rem;
  border: 0.2rem solid rgba(80, 129, 251, 0.08);
}
.button__highlight--remove:focus {
  background: rgba(80, 129, 251, 0.40);
}

/* ============ SEU PROJETO ===== */
.project {
  padding: 2.5rem 0;
}
.project input, .project textarea {
  width: 100%;
  display: inline-block;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.16);
  color: var(--color-white);
  padding: 1rem;
  font: var(--font-body);
  border-radius: 0.5rem;
}
.project input:hover, .project textarea:hover {
  background-color: rgba(255, 255, 255, 0.24);
}
.project input:focus, .project textarea:focus {
  background-color: rgba(255, 255, 255, 0.24);
}

/* ============ PERSONALIZAÇÃO ===== */
.personalization input, .personalization select {
  width: 100%;
  margin-top: 1rem;
  color: var(--color-white);
  font: var(--font-body);
  cursor: pointer;
  border-radius: 0.5rem;
}
.personalization__language {
  padding: 1rem;
  background-color: #2D415B;
}
.personalization__language:focus-visible {
  outline: none;
}
.personalization__language:hover {
  background-color: rgba(255, 255, 255, 0.24);
}
.personalization__language option {
  background: var(--color-background);
}
.personalization__color {
  height: 3.5rem;
  border: 1px solid #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: transparent;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}

/* ============ BOTÃO SALVAR ===== */
.button__save {
  margin: 2rem 0 2.5rem 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  border-radius: 0.5rem;
  background-color: var(--color-blue300);
  color: var(--color-background);
  font: var(--font-body);
  font-weight: bold;
  cursor: pointer;
}
.button__save:hover {
  background-color: var(--color-blue200);
}
.button__save:active {
  background-color: var(--color-blue200);
  padding: 0.8rem;
  border: 0.2rem solid var(--color-blue200);;
}

/* ============ RESPONSIVIDADE ===== */
@media (min-width: 600px) {
  .editor__container {
    max-height: 366px;
  }
  .personalization {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .export__button {
    padding: 0.5rem;
    font-size: 0.9rem;
  }
  .export__extensions {
    font-size: 0.9rem;
    padding: 0.35rem;
  }
}
@media (min-width: 1025px) {
  main {
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    grid-template-rows: 1fr;
    gap: 2.5rem;
  }
  .code__editor {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .editor__container {
    max-height: 366px;
  }
  main form {
    grid-column: 2/2;
    grid-row: 1/1;
    max-height: 500px;
  }
  .project {
    padding: 0 0 2.5rem 0;
  }
  .personalization {
    flex-direction: column;
    gap: 0;
  }
}