/* ============ GLOBAL ===== */
:root {
  --font-body: normal 400 1rem/1.5rem 'Inter', sans-serif;
  --font-title: normal 700 1.3125rem/1.9375rem 'Inter', sans-serif;
  --font-title-option: normal 400 0.75rem/1.125rem 'Inter', sans-serif;
  --font-code: normal 400 0.875rem/1.125rem 'Roboto', sans-serif;
  --color-background: #051D3B;
  --color-blue300: #5081FB;
  --color-blue200: #7BA4FC;
  --color-blue100: #96B9FD;
  --color-dark-grey: #141414;
  --color-green: #27C93F;
  --color-red: #FF5F56;
  --color-yellow: #FFBD2E;
  --color-white: #FEFEFE;
}
body {
  background-color: var(--color-background);
  padding: 0 1rem;
}
.input__title {
  font: var(--font-title-option);
  color: var(--color-white);
  letter-spacing: 0.4em;
  text-transform: uppercase;
}
.sr-only {
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip-path: inset(50%);
  left: -10000px;
}
.editor__container {
  scrollbar-width: thin;
  scrollbar-color: var(--color-blue300) transparent;
}
.editor__container::-webkit-scrollbar {
  width: 12px;
}
.editor__container::-webkit-scrollbar-track {
  background: transparent;
}
.editor__container::-webkit-scrollbar-thumb {
  background-color: var(--color-dark-grey);
  border-radius: 4px;
  border: 3px solid var(--color-blue200);
}

/* ============ CABEÇALHO ===== */
.header__menu {
  padding: 1.75rem 0 3.125rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  padding: 0.65rem 0;
}
.header__search, .header__menu--icon, .header__logo {
  display: flex;
  align-items: center;
}
.header__icons {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.header i {
  font-size: 1.5rem;
  color: var(--color-white);
  font-weight: bold;
  padding: 0.75rem;
  cursor: pointer;
  border-radius: 1rem;
}
.header i:hover {
  background: rgba(80, 129, 251, 0.08);
}
.header i:active {
  background: rgba(80, 129, 251, 0.16);
}
.header__icons .header__close, .header.active .header__menu--icon {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.header.active .header__close {
  display: initial;
  opacity: 1;
  visibility: visible;
}
.header.search .header__logo, .header.search .header__icons, .header__menu .menu__profile  {
  display: none;
  opacity: 0;
  visibility: hidden;
}

/* ============ EDITOR DE CÓDIGO ===== */
.code__editor {
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 0.5rem;
  overflow: hidden;
}
.editor__container {
  width: 100%;
  height: 100%;
  border-width: 2rem;
  border-style: solid;
  border-radius: 0.5rem;
  background-color: #000;
  overflow-y: auto;
}
.code__content {
  width: 100%;
  height: calc(100% - 52px);
}
.code__content--disabled {
  pointer-events: none;
}
.editor__container pre {
  white-space: pre-wrap;
}
.editor__container code {
  height: 100%;
  width: 100%;
  background: transparent;
  color: var(--color-white);
  font: var(--font-code);
  border-radius: 0.5rem;
  padding: 0 1rem 1rem;
  white-space: pre-wrap;
  display: block;
}
.editor__container code:focus-visible {
  outline: none;
}
.editor__icons {
  display: flex;
  gap: .5rem;
  padding: 1rem 1rem 1.5rem;
}
.editor__icon {
  width: 0.75rem;
  height: 0.75rem;
  clip-path: circle();
}
.editor__icon.icon-red {
  background-color: var(--color-red);
}
.editor__icon.icon-yellow {
  background-color: var(--color-yellow);
}
.editor__icon.icon-green {
  background-color: var(--color-green);
}
.button__highlight, .button__highlight--remove {
  width: 100%;
  text-align: center;
  font: var(--font-body);
  margin-top: 2rem;
  padding: 0.9rem 0;
  cursor: pointer;
  border-radius: 0.5rem;
  color: var(--color-white);
}
.button__highlight {
  background-color: rgba(80, 129, 251, 0.08);
}
.button__highlight::after {
  content: "Visualizar com o highlight";
}
.button__highlight:hover, .button__highlight--remove:hover {
  background: rgba(80, 129, 251, 0.16);
}
.button__highlight:active {
  background-color:  rgba(80, 129, 251, 0.16);
  padding: 0.7rem;
  border: 0.2rem solid rgba(80, 129, 251, 0.24);
}
.button__highlight:focus {
  background: rgba(80, 129, 251, 0.24);
}
.button__highlight--remove {
  background-color: rgba(80, 129, 251, 0.24);
}
.button__highlight--remove:after {
  content: "Remover o highlight";
}
.button__highlight--remove:active {
  background-color:  rgba(80, 129, 251, 0.16);
  padding: 0.7rem;
  border: 0.2rem solid rgba(80, 129, 251, 0.08);
}
.button__highlight--remove:focus {
  background: rgba(80, 129, 251, 0.40);
}

/* ============ SEU PROJETO ===== */
.project {
  padding: 2.5rem 0;
}
.project input, .project textarea {
  width: 100%;
  display: inline-block;
  margin-top: 1rem;
  background-color: rgba(255, 255, 255, 0.16);
  color: var(--color-white);
  padding: 1rem;
  font: var(--font-body);
  border-radius: 0.5rem;
  cursor: pointer;
}
.project input:hover, .project textarea:hover {
  background-color: rgba(255, 255, 255, 0.24);
}
.project input:focus, .project textarea:focus {
  background-color: rgba(255, 255, 255, 0.24);
}

/* ============ PERSONALIZAÇÃO ===== */
.personalization input, .personalization select {
  width: 100%;
  margin-top: 1rem;
  color: var(--color-white);
  font: var(--font-body);
  cursor: pointer;
  border-radius: 0.5rem;
}
.personalization__language {
  padding: 1rem;
  background-color: #2D415B;
}
.personalization__language:focus-visible {
  outline: none;
}
.personalization__language:hover {
  background-color: rgba(255, 255, 255, 0.24);
}
.personalization__language option {
  background: var(--color-background);
}
.personalization__color {
  height: 3.5rem;
  border: 1px solid #FFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: transparent;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 4px;
}

/* ============ BOTÃO SALVAR ===== */
.button__save {
  margin: 2.5rem 0;
  width: 100%;
  text-align: center;
  padding: 1rem 0;
  border-radius: 0.5rem;
  background-color: var(--color-blue300);
  color: var(--color-background);
  font: var(--font-body);
  font-weight: bold;
  cursor: pointer;
}
.button__save:hover {
  background-color: var(--color-blue200);
}
.button__save:active {
  background-color: var(--color-blue200);
  padding: 0.8rem;
  border: 0.2rem solid var(--color-blue200);;
}

/* ============ MENU LATERAL ===== */
.side__menu {
  background-color: #2D415B;
  position: absolute;
  right: 16px;
  top: 100px;
  width: 254px;
  max-width: 254px;
  height: calc(100vh - 100px);
  z-index: 100;
  border-radius: 0.5rem;
  padding: 1.5rem;
  display: none;
  opacity: 0;
  visibility: hidden;
}
.header.active .side__menu {
  display: initial;
  opacity: 1;
  visibility: visible;
}
.menu__items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.menu__items h2 {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.menu__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.menu__item img {
  padding: 0.75rem;
  background-color: var(--color-blue300);
  border-radius: 1rem;
}
.menu__item img:hover {
  background: rgba(80, 129, 251, 0.64);
}
.menu__item img:active {
  background-color: var();
}
.side__menu span, .menu__profile span {
  color: var(--color-white);
  font: var(--font-body);
}
.divider {
  height: 1px;
  background-color: #FFF;
  opacity: 0.08;
  margin: 1.5rem 0 2.25rem 0;
}
.menu__profile {
  display: inline-block;
  align-items: center;
  gap: 0.5rem;
}
.menu__profile img {
  width: 2rem;
  height: 2rem;
  clip-path: circle();
  object-fit: cover;
}

/* ============ CAMPO BUSCA ===== */
.search__container {
  display: none;
  opacity: 0;
  visibility: hidden;
}
.header.search .search__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 0.5rem;
  opacity: 1;
  visibility: visible;
}
.search__field {
  padding: 1rem;
  width: 100%;
  background-color: #2D415B;
  color: var(--color-white);
  font: var(--font-body);
  border-radius: 0.5rem;
}

.teste {
  content: "";
}

/* ============ RESPONSIVIDADE ===== */
@media (min-width: 600px) {
  body {
    padding: 0 2rem;
  }
  .search__container {
    display: initial;
    opacity: 1;
    visibility: visible;
    width: 100%;
    padding: 0 5.5%;
  }
  .search__close, .header__search {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
  .personalization {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
}
@media (min-width: 1025px) {
  body {
    display: grid;
    grid-template-columns: 1fr 2.3fr 1fr;
    grid-template-rows: 1fr 5fr;
  }
  header {
    grid-row: 1/1;
    grid-column: 1/4;
  }
  .divider, .header__icons {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
  .menu__items h2, .side__menu {
    display: flex;
    opacity: 1;
    visibility: visible;
  }
  .header__menu {
    display: grid;
    grid-template-columns: 1fr 2.3fr 1fr;
    grid-template-rows: 2fr 1fr;
  }
  .header__logo {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  .search__container {
    grid-column: 2/2;
    grid-row: 1/1;
    padding: 0 2rem 0 0;
  }
  .side__menu {
    left: 2rem;
    background-color: transparent;
    padding: 2.5rem 0;
  }
  .header__menu .menu__profile {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    opacity: 1;
    visibility: visible;
  }
  .header__menu .menu__profile span {
    cursor: pointer;
  }
  main {
    grid-column: 2/4;
    display: grid;
    grid-template-columns: 2.3fr 1fr;
    grid-template-rows: 2fr 1fr 1rem;
    gap: 2.5rem;
  }
  .code__editor {
    grid-column: 1/1;
    grid-row: 1/1;
  }
  main form {
    grid-column: 2/2;
    grid-row: 1/3;
  }
  .project {
    padding: 0 0 2.5rem 0;
  }
  .personalization {
    flex-direction: column;
  }
  .menu__profile {
    display: none;
    opacity: 0;
    visibility: hidden;
  }
}